Day one/Task 1/empolyee.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2023 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="address">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="street"/>
				<xs:element ref="building"/>
				<xs:element ref="number"/>
				<xs:element ref="region"/>
				<xs:element ref="city"/>
				<xs:element ref="country"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="building">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="134"/>
				<xs:enumeration value="609"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="city">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=" Alexandria "/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="contacts">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="employee" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="country">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=" Egypr "/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="email">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="abdelrhmanzain@gmail.com"/>
				<xs:enumeration value="ahmedzain@gmail.com"/>
				<xs:enumeration value="mohamedzain@gmail.com"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="employee">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="phone" maxOccurs="unbounded"/>
				<xs:element ref="email"/>
				<xs:element ref="address" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Abd Elrhman Zein"/>
				<xs:enumeration value="Ahmed Zein"/>
				<xs:enumeration value="Mohamed Zein"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="number">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="17"/>
				<xs:enumeration value="36"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="phone">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_phone">
					<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="home"/>
								<xs:enumeration value="moblie"/>
								<xs:enumeration value="work"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="region">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=" Sidi behser "/>
				<xs:enumeration value=" Sidi gaber "/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="street">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=" Cairo "/>
				<xs:enumeration value=" Por said "/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:simpleType name="ST_phone">
		<xs:restriction base="xs:int">
			<xs:enumeration value="1000012315"/>
			<xs:enumeration value="1043165987"/>
			<xs:enumeration value="1100012315"/>
			<xs:enumeration value="1120273779"/>
			<xs:enumeration value="1143165987"/>
			<xs:enumeration value="35248697"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
